* {
	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
}
body {
	background: #E4EFE4;
	color: #121;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
header {
	background: #ACA;
	color: #121;
	padding: 15px;
	height: 90px;
	position: relative;
}
header #execute_buttons {
	font-size: 16px;
	text-align: right;
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 140px;
}
header #edit_buttons {
	font-size: 16px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 140px;
}
#save_load {
	font-size: 18px;
	text-align: right;
	padding: 5px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	z-index: 15;
}
header button {
	margin: 2px 0px;
}
header #definitions {
	position: absolute;
	top: 10px;
	bottom: 0px;
	left: 150px;
	right: 150px;
}
header #definitions h1 {
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}
header #definitions ul {
	list-style: none;
	display: block;
	margin: 0px;
	padding: 0px;
}
header #definitions ul.definitions {
	display: inline-block;
	float: left;
	width: 50%;
}
header #definitions ul.definitions li {
	display: block;
	margin: 0;
	padding: 0;
}
section#content {
	position: absolute;
	top: 120px;
	bottom: 75px;
	left: 0;
	right: 0;
	overflow: auto;
	padding: 10px;
}
footer {
	background: #aca;
	color: #464;
	font-size: 0.8em;
	text-align: center;
	padding: 5px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 65px;
}
footer p {
	margin: 5px;
}
footer a {
	border-bottom: 0px dashed #363;
	color: #363;
	text-decoration: none;
}
input {
	background: #ccc;
	border: 0px solid #000;
	border-radius: 4px;
	color: #000;
	font-size: 1em;
	margin: 0;
	padding: 2px 1px;
}
button {
	background: #6a6;
	border: 0px solid #020;
	color: #020;
	border-radius: 4px;
	font-size: 1em;
	margin: 0;
	padding: 2px 2px;
}
button[disabled] {
	border: 0px solid #020;
	background: #a0a0a0;
	color: #666;
}
select {
	background: #aaa;
	border: 0px solid #020;
	border-radius: 3px;
	color: #222;
	font-size: 1em;
	padding: 0px 1px;
}
button.delete {	
	background: #56100F;
	color: #CE8D8C;
	text-align: center;
	width: 15px;
	margin: 0;
	padding: 0;
}
#stacks_management {
	font-size: 25px;
	text-align: center;
}
input#stacks_number {
	width: 3em;
}
ul#queuestacks_list {
	display: block;
	vertical-align: top;
	list-style: none;
	margin: 5px;
	padding: 0;
}
ul#queuestacks_list > li,
#alphabets_management {
	border: 1px solid #AAA;
	display: block;
	text-align: center;
	position: relative;
	width: 200px;
	margin: 0 auto;
	padding: 0px;
}
ul#queuestacks_list > li {
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	width: 100px;
}
#alphabets_management .alphabet_box {
	float: left;
	text-align: center;
	width: 50%;
	height: 250px;
	margin: 0;
	padding: 0;
}
button#alphabets_submit {
	font-size: 17px;
	margin: 6px;
}
#alphabets_management .alphabet_box.primary {
	background: #E0EBE0;
}
#alphabets_management .alphabet_box.auxiliar {
	background: #E0E0E0;
	left: 100px;
}
h2 {
	font-size: 1.3em;
	margin: 0;
}
h3 {
	font-size: 1.2em;
	margin: 0;
	padding: 0 5px;
}
ul#queuestacks_list h2,
#alphabets_management h2 {
	background: #BDB;
	padding: 5px 0px;
}
#alphabets_management h3 {
	margin: 5px 10px;
	padding: 0;
}
#alphabets_management .alphabet_box input {
	width: 35px;
}
input[type="number"] {
	padding: 2px 5px;
	margin: 0 5px;
}
#alphabets_management .alphabet_box button {
	line-height: inherit;
}
ul#queuestacks_list {
	width: 400px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	overflow: auto;
	padding: 5px;
}
ul#queuestacks_list > li > ul,
#alphabets_management .alphabet_box ul {
	display: block;
	border: 1px solid #aaa;
	list-style: none;
	margin: 5px;
	padding: 3px 15px;
	height: 180px;
	overflow: auto;
}
ul#queuestacks_list > li > ul > li,
#alphabets_management .alphabet_box > ul > li {
	display: block;
	background: #B9B9B9;
	font-weight: bold;
	margin: 2px 0;
}
ul#queuestacks_list > li > ul > li:nth-child(1) {
	background: #40a040;
}
#alphabets_management .alphabet_box ul li:hover {
	background: #c66;
	color: #411;
	text-decoration: line-through;
	font-weight: normal;
}
#states_management {
	padding: 10px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
ul#state_list {
	display: block;
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 35px;
	bottom: 0px;
	left: 0px;
	right: 410px;
	overflow: auto;
	padding: 5px;
}
ul#state_list > li.state {
	background: #ccc;
	border: 4px solid #ccc;
	display: block;
	float: left;
	position: relative;
	margin: 3px;
	padding: 2px;
}
ul#state_list > li.state.current {
	border: 4px solid #575;
}
ul#state_list > li.state h2 {
	background: #ddd;
	float: left;
	padding: 3px;
}
ul#state_list > li.state h3 {
	font-size: 1.1em;
}
ul#state_list > li.state > button.delete {
	position: absolute;
	top: 2px;
	right: 2px;
}
ul#state_list > li.state ul.rules {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
ul#state_list > li.state ul.rules > li {
	background: #e8e8e8;
	display: block;
	margin: 2px 5px;
	padding: 3px 23px 3px 3px;
	position: relative;
}
ul#state_list > li.state ul.rules > li button.delete {
	position: absolute;
	top: 1px;
	right: 3px;
}
ul#state_list > li.state ul.rules > li.next {
	background: #78e878;
}
ul#state_list > li.state .new_rule {
	background: #eee;
	clear: both;
	margin-top: 5px;
	padding: 3px;
}
.state button {
	margin: 2px 0;
}
ul#state_list > li#qf {
	border: 5px solid #ccc;
	margin: 20px;
	padding: 5px;
}
ul#state_list > li#qf.current {
	border: 5px solid #272;
}