* {
	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
}
body {
	background: #E4EFE4;
	color: #343;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
header {
	background: #ACA;
	color: #232;
	padding: 15px;
	height: 90px;
	position: relative;
}
header #execute_buttons {
	font-size: 16px;
	text-align: right;
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 140px;
}
header #edit_buttons {
	font-size: 16px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 140px;
}
#save_load {
	font-size: 16px;
}
header button {
	margin: 2px;
}
header #definitions {
	position: absolute;
	top: 10px;
	bottom: 0px;
	left: 150px;
	right: 150px;
}
header #definitions h1 {
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}
header #definitions ul {
	list-style: none;
	display: block;
	margin: 0px;
	padding: 0px;
}
header #definitions ul.definitions {
	display: inline-block;
	float: left;
	width: 50%;
}
header #definitions ul.definitions li {
	display: block;
	margin: 0;
	padding: 0;
}
section#content {
	padding: 10px;
	position: absolute;
	top: 120px;
	bottom: 60px;
	left: 0;
	right: 0;
	overflow: auto;
}
footer {
	background: #aca;
	color: #575;
	font-size: 0.8em;
	text-align: center;
	padding: 5px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
}
footer p {
	margin: 5px;
}
footer a {
	border-bottom: 1px dashed #363;
	color: #363;
	text-decoration: none;
}
input {
	background: #BBB;
	border: 0px none;
	border-radius: 4px;
	color: #000;
	font-size: 1em;
	margin: 0;
	padding: 2px 3px;
}
button {
	background: #5b5;
	color: #242;
	border: 0px none;
	border-radius: 4px;
	font-size: 1em;
	margin: 0;
	padding: 1px 2px;
}
button[disabled] {
	background: #ccc;
	color: #999;
}
select {
	background: #444;
	border: 0px none;
	border-radius: 3px;
	color: #ddd;
	font-size: 1em;
}
button.delete {	
	background: #56100F;
	color: #CE8D8C;
}
#stacks_management {
	font-size: 25px;
	text-align: center;
}
input#stacks_number {
	width: 3em;
}
ul#queuestacks_list {
	display: block;
	vertical-align: top;
	list-style: none;
	margin: 5px;
	padding: 0;
}
ul#queuestacks_list > li,
#alphabets_management {
	border: 1px solid #666;
	display: block;
	text-align: center;
	position: relative;
	width: 200px;
	margin: 10px auto;
	padding: 0px;
}
ul#queuestacks_list > li {
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	width: 100px;
}
#alphabets_management .alphabet_box {
	float: left;
	text-align: center;
	width: 50%;
	height: 250px;
	margin: 0;
	padding: 0;
}
button#alphabets_submit {
	font-size: 17px;
	margin: 6px;
}
#alphabets_management .alphabet_box.primary {
	background: #1a1a1a;
}
#alphabets_management .alphabet_box.auxiliar {
	background: #1e1e1e;
	left: 100px;
}
h2 {
	font-size: 1.3em;
	margin: 0;
}
h3 {
	font-size: 1.2em;
	margin: 0;
	padding: 0 5px;
}
ul#queuestacks_list h2,
#alphabets_management h2 {
	background: #111;
	padding: 5px 0px;
}
#alphabets_management h3 {
	margin: 5px 10px;
	padding: 0;
}
#alphabets_management .alphabet_box input {
	width: 35px;
}
input[type="number"] {
	padding: 2px 5px;
	margin: 0 5px;
}
#alphabets_management .alphabet_box button {
	line-height: inherit;
}
ul#queuestacks_list > li > ul,
#alphabets_management .alphabet_box ul {
	display: block;
	border: 1px solid #333;
	list-style: none;
	margin: 5px;
	padding: 3px 15px;
	height: 180px;
	overflow: auto;
}
ul#queuestacks_list > li > ul > li,
#alphabets_management .alphabet_box > ul > li {
	display: block;
	background: #2a2a2a;
	font-weight: bold;
	margin: 2px 0;
}
ul#queuestacks_list > li > ul > li:nth-child(1) {
	background: #1a3a1a;
}
#alphabets_management .alphabet_box ul li:hover {
	background: #6B1313;
	color: #F29D9D;
	text-decoration: line-through;
	font-weight: normal;
}
#states_management {
	padding: 10px;
	position: absolute;
	top: 35px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
ul#state_list {
	display: block;
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 410px;
	overflow: auto;
	padding: 5px;
}
ul#queuestacks_list {
	width: 400px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	overflow: auto;
	padding: 5px;
}
ul#state_list > li.state {
	background: #111;
	border: 2px solid #111;
	display: block;
	float: left;
	position: relative;
	margin: 3px;
	padding: 3px;
}
ul#state_list > li.state.current {
	border: 2px solid #fff;
}
ul#state_list > li.state h2 {
	background: #080808;
	float: left;
	padding: 3px;
}
ul#state_list > li.state > button.delete {
	position: absolute;
	top: 2px;
	right: 2px;
}
ul#state_list > li.state ul.rules {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
ul#state_list > li.state ul.rules > li {
	background: #191919;
	display: block;
	margin: 2px 5px;
	padding: 3px;
}
ul#state_list > li.state .new_rule {
	background: #080808;
	clear: both;
	margin-top: 20px;
	padding: 3px;
}
ul#state_list > li#qf {
	border: 5px solid #000;
	border: 5px solid #000;
	margin: 20px;
	padding: 10px;
}
ul#state_list > li#qf.current {
	border: 5px solid #0a0;
}